/* My Personal Page css file.
 *
 * author: langenhagen
 * version: 160110
 */

body {
    background-color:black;	
    font-family:"trebuchet ms";
    text-align:left;
    font-size:24px;
    font-weight:normal;
    color:white;
    line-height: 100%;
    margin:0px;
    padding:0px;
    overflow:hidden
}

canvas {
    position:fixed;
    z-index: -10;
    width:100%;
    height:100%;
}

div {
    background-color:transparent;
    z-index:1000;    
}
